.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-bg);
  padding-bottom: 20px;
}
.post:hover {
  background-color: #f3f5f7;
  cursor: pointer;
}
.post__body {
  flex: 1;
  padding: 5px;
}

.post__link__img {
  border-radius: 15px;
  width: 516px;
  height: 292px;
}
.post__img {
  border-radius: 9px;
  width: 500px;
  height: 300px;
}
.headerDeleteIcon {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: flex-end;
}
.headerDeleteIcon > span {
  color: rgb(226, 190, 143);
  cursor: pointer;
}
.headerDeleteIcon > span:hover {
  color: red;
}
.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
  width: 15px;
  height: 15px;
  margin-top: 0px;
}
.post_headerDescription {
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
.post__avatar {
  padding: 15px;
}
.post__verified {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}
.icons {
  cursor: pointer;
  margin-top: 3px;
}
.icons :hover {
  color: var(--twitter-color);
  column-fill: var(--twitter-color);
  size: 20px;
}
.post__comments > input {
  border-radius: 5px;
  width: 480px;
  height: 34px;
  font-size: 20px;
  border-color: var(--twitter-color);
  margin-top: 20px;
  text-emphasis: none;
  font-size: 15px;
}
.post__comments > button {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  font-size: 19px !important;
  text-transform: inherit !important;
  height: 39px !important;
  margin-left: 10px !important;
  border-radius: 11px !important;
}
.post__comments > input:focus {
  outline: none;
}
.icon__items {
  display: flex;
  justify-content: left;
}
.icon__items > p {
  margin-left: 9px;
  color: gray;
}
.post_single_comments {
  margin-top: 10px;
  border-bottom: 1px var(--twitter-bg);
  border-bottom: 1px medium;
}
.post__details {
  color: gray;
  margin-top: 10px;
  font-size: 15px;
}
.post__details > p {
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 5px;
}
.post_details__date {
  border-bottom: 1px solid var(--twitter-bg);
  margin-bottom: 10px;
}
.post_details__date > span {
  color: var(--twitter-color);
}
.post_details__info {
  border-bottom: 1px solid var(--twitter-bg);
  margin-bottom: 10px;
}
.post_details__info > span {
  color: black;
}
.like_icon {
  color: rgb(116, 17, 17);
}
.headerDropDown {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: flex-end;
  color: rgb(11, 11, 240);
}
.headerDropDown > span:hover {
  cursor: pointer;
  color: blue;
}
.post__tweet__options {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.post__header__counter {
  margin-top: 10px;
}
.tag__post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-bg);
  padding-bottom: 10px;
}
.post__headerText {
  color: blue;
}
.post__header__counter {
  color: gray;
}
.status__header > img {
  width: 400px;
  height: 400px;
}
.status__header__img {
  margin-top: 40px;
}
.post__header__usernames {
  margin-top: 10px;
  color: gray;
}
.post__headertext__name:hover {
  border-bottom: 2px solid var(--twitter-color);
  transition: cubic-bezier(0.19, 1, 0.22, 1);
}
/**/
@media (max-width: 800px) {
  .post__footer {
    display: flex;
    justify-content: space-between;
    margin-left: -42px;
  }
  .post__avatar {
    padding: 15px 15px 15px 0px;
  }
  .post__body {
    padding: 10px;
  }
  .post__body > img {
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
  }
  .post__img {
    border-radius: 9px;
    width: 298px;
    height: 146px;
  }
  .post__link__img {
    border-radius: 15px;
    width: 303px;
    height: 200px;
  }
  .post__comments > input {
    border-radius: 5px;
    width: 303px;
    height: 34px;
    font-size: 20px;
    border-color: var(--twitter-color);
    margin-top: 20px;
    text-emphasis: none;
    font-size: 15px;
  }
  .post__comments > button {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    text-transform: inherit !important;
    height: 34px !important;
    margin-left: -3px !important;
    margin-top: 8px !important;
    border-radius: 29px !important;
  }
  .post__details > p {
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 5px;
  }
  .post_details__date > span {
    color: var(--twitter-color);
    margin-left: 51px;
  }
}
