.comment {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-bg);
  padding-bottom: 20px;
}
.comment:hover {
  background-color: #f3f5f7;
  cursor: pointer;
}
.comment__body {
  flex: 1;
  padding: 5px;
}
.comment__body > img {
  border-radius: 15px;
}
.headerDeleteIcon {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: flex-end;
}
.headerDeleteIcon > span {
  color: rgb(226, 190, 143);
  cursor: pointer;
}
.headerDeleteIcon > span:hover {
  color: red;
}
.comment__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.comment__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
  width: 15px;
  height: 15px;
  margin-top: 0px;
}
.comment_headerDescription {
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
.comment__avatar {
  padding: 15px;
}
.comment__verified {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}
.icons {
  cursor: pointer;
  margin-top: 3px;
}
.icons :hover {
  color: var(--twitter-color);
  column-fill: var(--twitter-color);
  size: 20px;
}
.comment__comments > input {
  border-radius: 5px;
  width: 480px;
  height: 34px;
  font-size: 20px;
  border-color: var(--twitter-color);
  margin-top: 20px;
  text-emphasis: none;
  font-size: 15px;
}
.comment__comments > button {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  font-size: 19px !important;
  text-transform: inherit !important;
  height: 39px !important;
  margin-left: 10px !important;
  border-radius: 11px !important;
}
.comment__comments > input:focus {
  outline: none;
}
.icon__items {
  display: flex;
  justify-content: left;
}
.icon__items > p {
  margin-left: 9px;
  color: gray;
}
.comment_single_comments {
  margin-top: 10px;
  border-bottom: 1px var(--twitter-bg);
  border-bottom: 1px medium;
}
.comment_replyto {
  font-size: 14px;
  color: gray;
}
.comment_replyto > span {
  color: var(--twitter-color);
}
.icon__comment__error > span {
  color: gray;
}
