.feed {
  flex: 0.5;
  border-right: 1px solid var(--twitter-bg);
  min-width: fit-content;
  overflow-y: scroll;
}
/*Hide scrollbar for chrome,safari*/
.feed::-webkit-scrollbar {
  display: none;
}
/*Hide scrollbar for IE,Edge,Firefox*/
.feed::-webkit-scrollbar {
  -ms-overflow-style: none; /*IE & Edge*/
  scrollbar-width: none; /* FireFox */
}
.feedHeader {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border-bottom: 1px solid var(--twitter-bg);
  /**border: 1px solid var(--twitter-bg);*/
  padding: 15px 20px;
}
.feedHeader > h2 {
  font-size: 20px;
  font-weight: 800;
}
.feedHeader > p {
  margin-top: 10px;
  margin-left: 43px;
  padding: 9px;
  font-size: 22px;
  border: 1px solid var(--twitter-color);
  border-radius: 5px;
  width: 140px;
  box-sizing: border-box;
}
.status__header {
  display: flex;
}
.status__header > h3 {
  margin-top: 8px;
}
.status__icon {
  color: var(--twitter-color);
  margin-right: 20px;
  cursor: pointer;
}
.status__icon:hover {
  color: blue;
  border-radius: 30px;
}
.header__responsive {
  display: none;
}
@media (max-width: 800px) {
  .feed {
    flex: 1.1;
    flex-basis: auto;
    border-right: 1px solid var(--twitter-bg);
    min-width: fit-content;
    overflow-y: scroll;
  }
  .header__responsive {
    display: inline;
  }
  .header___nonresponsive {
    display: none;
  }
  .feedHeader {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border-bottom: 1px solid var(--twitter-bg);
    padding: 15px 20px 20px 0px;
  }
  .feedHeader > h2 {
    margin-top: 11px;
    margin-left: 50px;
  }
  .addTweetIcon {
    color: var(--twitter-color);
    margin-top: 6px;
    margin-left: 175px;
  }
}
