.feed {
  flex: 0.4;
  border-right: 1px solid var(--twitter-bg);
  min-width: fit-content;
  overflow-y: scroll;
}
/*Hide scrollbar for chrome,safari*/
.feed::-webkit-scrollbar {
  display: none;
}
/*Hide scrollbar for IE,Edge,Firefox*/
.feed::-webkit-scrollbar {
  -ms-overflow-style: none; /*IE & Edge*/
  scrollbar-width: none; /* FireFox */
}
.feedHeader {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border-bottom: 1px solid var(--twitter-bg);
  /**border: 1px solid var(--twitter-bg);*/
  padding: 15px 20px;
}
.feedHeader > h2 {
  font-size: 20px;
  font-weight: 800;
}
