.home {
  display: block;
  width: 550px;
  margin: 80px;
  padding: 20px;
}
.home > h2 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 40px;
}
.home__buttons {
  display: flex;
  flex-direction: column;
}
.button__signup {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  font-size: 19px !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}
.button__login {
  background-color: rgb(250, 250, 250) !important;
  color: var(--twitter-color) !important;
  border: 1px solid var(--twitter-color) !important;
  font-weight: 900 !important;
  font-size: 19px !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}
.home__buttons > button:hover {
  background-color: rgb(64, 148, 175) !important;
  color: aliceblue !important;
}
/*Login styles*/
.login {
  display: grid;
  justify-items: center;
}
.login > h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.login__inputs {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 500px;
  margin-bottom: 20px;
}
.login__inputs > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  margin-top: 10px;
  margin-bottom: 25px;
  border-bottom: 1px solid var(--twitter-color);
}
.login__button {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  font-size: 19px !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}
.login__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  color: var(--twitter-color);
}
.login__footer > p {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.login__footer > p:hover {
  border-bottom: 1px solid var(--twitter-color);
}
.login__inputs > input:focus {
  outline: none;
}
/*Forgot password styles*/

.forgot__nav {
  display: flex;
  border-bottom: 1px solid var(--twitter-color);
  justify-content: center;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}
.forgot__nav > img {
  width: 45px;
  height: 45px;
}
.forgot__nav > p {
  margin-top: 10px;
  margin-left: 2px;
}
.forgot__password {
  display: grid;
  justify-content: center;
  margin-top: 40px;
}
.forgot__password > h2 {
  font-weight: bolder;
  font-size: 35px;
  margin-bottom: 50px;
}
.forgot__password > code {
  margin-bottom: 50px;
  font-size: 30px;
}
.forgot__password > input {
  border-radius: 20px;
  width: 350px;
  height: 34px;
  font-size: 20px;
  border-color: var(--twitter-color);
}
.forgot__password > button {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  font-size: 19px !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
  width: 120px;
}
.forgot__password > input:focus {
  outline: none;
}
.recovery__code {
  display: grid;
  justify-content: center;
}
.recovery__code > h2 {
  margin-top: 5px;
  margin-bottom: 20px;
}
.recovery__code > input {
  border-radius: 20px;
  width: 350px;
  height: 34px;
  font-size: 20px;
  border-color: var(--twitter-color);
  margin-top: 5px;
  margin-bottom: 5px;
}
.recovery__code > button {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  font-size: 19px !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 40px !important;
  margin-top: 20px !important;
  width: 350px;
}
.recovery__code > input:focus {
  outline: none;
}
/*signup styles*/
.signup {
  display: flex;
  padding: 20px;
  margin: 20px;
  margin-top: 120px;
}
.signup__content {
  box-sizing: border-box;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
  width: 400px;
  height: 450px;
}
.signup__nav > img {
  width: 45px;
  height: 45px;
}
.signup__content > p {
  font-size: 30px;
}
.signup__content > form > input {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  border: none;
  font-size: 20px;
  border-bottom: 1px solid var(--twitter-color);
}
.signup__content > form > input:focus {
  outline: none;
}
.signup__content > form > button {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  font-size: 19px !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 40px !important;
  margin-top: 20px !important;
  width: 150px;
}
.signup__success {
  color: green;
  transition: ease-in 2sec;
}
.signup__error {
  color: red;
  transition: ease-in 2sec;
}
.signup__content > button:hover {
  background-color: blue;
}
.signup__content > h4 {
  color: var(--twitter-color);
  cursor: pointer;
  margin-top: 20px;
  font-size: 15px;
}
.signup__content > h4:hover {
  color: blue;
}
