.peoplelist {
  flex: 0.4;
  border-right: 1px solid var(--twitter-bg);
  min-width: fit-content;
  overflow-y: scroll;
}
/*Hide scrollbar for chrome,safari*/
.peoplelist::-webkit-scrollbar {
  display: none;
}
/*Hide scrollbar for IE,Edge,Firefox*/
.peoplelist::-webkit-scrollbar {
  -ms-overflow-style: none; /*IE & Edge*/
  scrollbar-width: none; /* FireFox */
}
.peoplelistHeader {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border-bottom: 1px solid var(--twitter-bg);
  /**border: 1px solid var(--twitter-bg);*/
  padding: 15px 20px;
}
.peoplelistHeader > h2 {
  font-size: 20px;
  font-weight: 800;
}
.peoplelistHeader > p {
  margin-top: 10px;
  margin-left: 43px;
  padding: 9px;
  font-size: 22px;
  border: 1px solid var(--twitter-color);
  border-radius: 5px;
  width: 140px;
  box-sizing: border-box;
}
.status__header {
  display: flex;
}
.status__header > h3 {
  margin-top: 8px;
}
.status__icon {
  color: var(--twitter-color);
  margin-right: 20px;
  cursor: pointer;
}
.status__icon:hover {
  color: blue;
  border-radius: 30px;
}
.peoplelist__search {
  width: 400px;
}
.peoplelist__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-bg);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
}
.peoplelist__input > input {
  width: 444px;
  border: none;
  background-color: var(--twitter-bg);
}
.peoplelist__input > input,
.peoplelist__input > input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 1.5;
}
.peoplelist__input > input:focus {
  outline: none;
}
/**********chat  box styles********************************/
.chatbox {
  flex: 0.4;
  overflow-y: scroll;
}
/*Hide scrollbar for chrome,safari*/
.chatbox::-webkit-scrollbar {
  display: none;
}
/*Hide scrollbar for IE,Edge,Firefox*/
.chatbox::-webkit-scrollbar {
  -ms-overflow-style: none; /*IE & Edge*/
  scrollbar-width: none; /* FireFox */
}
.chatbox__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-bg);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}
.chatbox > button {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  font-size: 19px !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 30px !important;
  width: 100px !important;
  margin-top: 20px !important;
  margin-left: 20px;
}
.chatbox__input > input {
  border: none;
  background-color: var(--twitter-bg);
}
.chatbox__search {
  color: gray;
}
.chatbox__container {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: honeydew;
}
.chatbox__container > h2 {
  font-size: 18px;
  font-weight: 900;
}
.chat__header {
  display: flex;
  padding: 5px;
}
.chat__header > h3 {
  margin-left: 9px;
  margin-top: 3px;
}
.chat__header__username {
  margin-left: 53px;
  margin-top: -18px;
  color: gray;
}
.chatbox__userinfo {
  display: flex;
  flex-flow: column;
  margin-left: 95px;
}
.user__followers__count,
.userinfo {
  display: flex;
  flex-flow: row;
  margin: 3px;
}
.userinfo__name {
  font-weight: 700;
  font-size: 16px;
}
.span__gray {
  color: gray;
}
.user__chats {
  height: 60vh;
  width: auto;
  overflow-y: scroll;
}
.sent__message {
  display: flex;
  float: right;
  color: white;
  margin: 11px;
  flex-direction: column;
}
.message__sent {
  display: flex;
  justify-content: center;
  width: auto;
  float: right;
  height: auto;
  border-radius: 13px 13px 0px 13px;
  margin: 5px;
  padding: 10px;
  overflow-wrap: break-word;
  background-color: var(--twitter-color);
}
.msg__date__sent {
  display: flex;
  justify-content: flex-end;
  color: gray;
}
.recieved__message {
  display: flex;
  float: left;
  color: black;
  margin: 11px;
  flex-direction: column;
}
.message__recieved {
  display: flex;
  justify-content: center;
  width: auto;
  float: right;
  height: auto;
  border-radius: 0px 13px 13px 13px;
  margin: 5px;
  padding: 10px;
  overflow-wrap: break-word;
  background-color: rgb(218, 206, 188);
}
.msg__date__recieved {
  display: flex;
  justify-content: flex-start;
  color: gray;
}
.recieved__message > p {
  margin: 5px;
}
.send__chat {
  border: 1px solid black;
  margin: 10px;
}
