.sideBarOptions {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.sideBarOptions:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}
.sideBarOptions > .MuiSvgIcon-root {
  padding: 20px;
}
.sideBarOptions > h2 {
  font-weight: 650;
  font-size: 20px;
  margin-right: 20px;
}

.sideBarOptions--active {
  color: var(--twitter-color);
}
.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}
.sidebar {
  border-right: 1px solid var(--twitter-bg);
  flex: 0.2;
  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
}
.icon--img {
  width: 45px;
  height: 45px;
  margin-left: 15px;
}
.sidebar__responsive {
  display: none;
}
.sidebar__responsive_menubar {
  display: none;
}
@media (max-width: 800px) {
  .sidebar {
    display: none;
  }
  .sidebar__responsive_menubar {
    display: block;
  }
  .sidebar__responsive {
    display: none;
    border-right: 1px solid var(--twitter-bg);
    flex: 0.2;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
  }
  .sidebar_responsive_header {
    display: flex;
    border-bottom: 1px solid var(--twitter-color);
    justify-content: space-between;
  }
  .sidebar_responsive_header > span {
    color: var(--twitter-color);
  }
  .sidebar_responsive_header > p {
    font-weight: 800;
    font-size: 15px;
    padding: 2px;
    margin-bottom: 9px;
  }
  .sidebar_responsive_avatar {
    margin-top: 8px;
  }
  .sidebar_responsive_avatar > .MuiAvatar-root {
    width: 30px !important;
    height: 30px !important;
  }
  .sidebar_responsive__userinfo {
    margin-top: 8px;
  }
  .sidebar_responsive__userinfo > p {
    color: gray;
    font-size: 14px;
  }
  .sidebar__responsive__profile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-left: -43px;
  }
  .sidebar__responsive__span {
    margin-left: 3px;
    color: gray;
    font-size: 14px;
  }
  .sidebar__responsive__number {
    font-weight: 200;
    font-size: 14px;
    margin-left: 0px;
  }
  .sideBarOptions > .MuiSvgIcon-root {
    padding: 15px 15px 15px 0px;
  }
  .sideBarOptions > h2 {
    font-weight: 450;
    font-size: 14px;
    margin-right: 10px;
  }
}
