.tweetbox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-bg);
  padding-right: 10px;
}
.tweet--input {
  display: flex;
  padding: 20px;
}
.tweetbox > form {
  display: flex;
  flex-direction: column;
}
.tweet--input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}
.tweetBox-button {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 20px !important;
  width: 80px;
  height: 40px !important;
  margin-top: 20px;
  margin-left: auto !important;
  transition: 0.8 sec !important;
}
.tweet--inputImage {
  border: none;
  padding: 10px;
  margin-left: 10px;
}
.tweet--input > input:focus {
  outline: none;
}

.tweetbox > form > input:focus {
  outline: none;
}
.icon {
  display: flex;
  margin-left: 20px;
  cursor: pointer;
  color: var(--twitter-color);
}
.gifIcon {
  margin-left: 0px !important;
}
.insertPicIcon {
  margin-top: 8px !important;
  margin-left: 1px !important;
  color: var(--twitter-color);
}
.gifIcon,
.insertPicIcon:hover {
  color: blue;
}
.custom-file-upload {
  color: var(--twitter-color);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
input[type="file"] {
  display: none;
}
button:disabled,
button[disabled] {
  border: 1px solid var(--twitter-color) !important;
  background-color: #f8f4e3 !important;
  font-weight: 900 !important;
  color: black !important;
}
.uploaded__icon {
  margin-top: 5px !important;
  margin-left: 5px !important;
}
@media (max-width: 800px) {
  .tweet--input {
    display: flex;
    padding: 20px 20px 20px 0px;
  }
}
