.widgets {
  flex: 0.3;
  overflow-y: scroll;
}
/*Hide scrollbar for chrome,safari*/
.widgets::-webkit-scrollbar {
  display: none;
}
/*Hide scrollbar for IE,Edge,Firefox*/
.widgets::-webkit-scrollbar {
  -ms-overflow-style: none; /*IE & Edge*/
  scrollbar-width: none; /* FireFox */
}
.widgets__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-bg);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}
.widgets > button {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  font-size: 19px !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 30px !important;
  width: 100px !important;
  margin-top: 20px !important;
  margin-left: 20px;
}
.widgets__input > input {
  border: none;
  background-color: var(--twitter-bg);
}
.widgets__search {
  color: gray;
}
.widgets__container {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: honeydew;
  border-radius: 20px;
}
.widgets__container > h2 {
  font-size: 18px;
  font-weight: 900;
}
@media (max-width: 800px) {
  .widgets {
    display: none;
  }
}
